@font-face {
  font-family: "GeneralSans-Regular";
  src: url("/src/assets/fonts/GeneralSans-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/src/assets/fonts/GeneralSans-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/GeneralSans-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Medium";
  src: url("/src/assets/fonts/GeneralSans-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/GeneralSans-Medium.woff") format("woff"),
    url("/src/assets/fonts/GeneralSans-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("/src/assets/fonts/GeneralSans-Semibold.woff2") format("woff2"),
    url("/src/assets/fonts/GeneralSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("/src/assets/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Satoshi-Regular.woff") format("woff"),
    url("/src/assets/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("/src/assets/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/Satoshi-Medium.woff") format("woff"),
    url("/src/assets/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/src/assets/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/Satoshi-Bold.woff") format("woff"),
    url("/src/assets/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "GeneralSans-Medium", sans-serif;
}
